.navigator {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigator li {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center
}
.navigator li img{
  	width: 44px;
  	height: 44px
  }